<div style="background-color: rgba(103, 103, 103, 0.216);">
    <hr style="border-color: rgb(103, 103, 103);">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2023 CodeCore. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6">
                    <ul class="social-icons">
                        <li>
                            <a href="https://github.com/FelipeV03" target="_blank">
                                <i class="fa-brands fa-github"></i> GitHub
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/dev-felipe-vargas" target="_blank">
                                <i class="fa-brands fa-linkedin"></i> LinkedIn
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=100016172927715" target="_blank">
                                <i class="fa-brands fa-facebook"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/felipe._.v05/" target="_blank">
                                <i class="fa-brands fa-instagram"></i> Instagram
                            </a>
                        </li>
                    </ul>
                    <img src="../../../assets/codecore.png" alt="CodeCore" class="imagen-derecha">
                </div>
            </div>
        </div>
    </footer>

</div>